{% extends 'core/base.html' %}

{% block title %}Extracto{% endblock %}

{% block bkg_img %}{% load static %}{% static '/core/img/about-bg.jpg' %}{% endblock %}

{% block header %}
<section class="header14 cid-sjszbbG0fd mbr-fullscreen mbr-parallax-background" id="header14-o">
   <div class="mbr-overlay" style="opacity: 0.5; background-color: #65C6D4;">
   </div>
   <div class="container-fluid">
      <div class="row justify-content-center align-items-center">
         <div class="col-12 col-md col-lg-2 image-wrapper">
            <img style="border-radius: 100%" src="{% static '/core/img/Fotodeperfil.jpg' %}" alt="Agustín Fara">
         </div>
         <div class="col-12 col-md col-lg-8">
            <div class="text-wrapper">
               <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1">
               <strong>Extracto  </strong></h1>
               <p class="mbr-text mbr-fonts-style display-7" style="text-align: justify"><br>Mi nombre es Agustín José Fara, nací y crecí en la Argentina, actualmente tengo {{ edad }} años. Estoy casado y vivo en San Miguel, Gran Buenos Aires. Tengo {{ exp_mainframe }} años de experiencia en desarrollo de backend mainframe. También poseo conocimientos y experiencia en frontend.&nbsp;<br>
               </p>
            </div>
         </div>
      </div>
   </div>
</section>
{% endblock %}

{% block content %}
{% endblock %}


